<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinguin - Sebuah website laboratorium CNC</title>

    <!-- CSS Bootstrap -->
      
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- buat favicon -->
<link rel="shortcut icon" href="img/favicon-pinguin.ico" >
<link rel="icon" type="/image/ico"  href="img/favicon-pinguin.ico" >
    <!-- end -->

  </head>
  <body>
      
    <!-- Hiasan warna-warna paling atas -->
      
      <div class="top-color">
      <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
      
    <!-- Navigasi atas -->  
        
      </div>
      <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      
    <!-- Brand and toggle get grouped for better mobile display -->
      
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Pinguin</a>
    </div>

    <!-- Membuat link-link berubah dari float-left menjadi vertikal teratur -->
      
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a class="active" href="forum.html">Forum</a></li>
        <li><a href="#">Belajar</a></li>
        <li><a href="download.html">Download</a></li>
        <li><a href="#">Kontak</a></li>
        <li><form class="search-container" action="#" method="POST"><input type="search" class="form-control search" placeholder="Cari..." >
            <input type="submit" class="btn btn-search" value="Cari">
            </form>
        </li>
          </ul>
    </div>  <!-- /.navbar-collapse -->
  </div>  <!-- /.container-fluid -->
</nav>

<!-- Grid menu -->

<!-- Container grid -->

<div class="row pinguin">
  
    <!-- Grid bagian kiri | Kontainer utama -->
    
    <div class="left-container">
    
        <div class="left-modul forum-modul">
        <h4 class="title">Silakan pilih forum yang akan kamu ikuti</h4>
        <p class="wtsay">Di pinguin terdapat banyak kategori forum yang bisa kamu ikuti. Siapapun kamu, developer, network engiiner, bahkan jomblo, silakan berpartisipasi.</p>
        <div class="container-table">
        <table class="table table-bordered">
        <thead>
          <tr>
            <th>Kategori</th>
            <th>Post</th>
            <th>Post terakhir</th>
          </tr>
        </thead>
        <tbody>
          <tr> <!-- Baris / row, kalo td nya kolom -->
            <td><a href="#" class="kategori">Tips menjadi seorang web developer</a><br>
            <p class="deks">Di sini deskripsi singkat...</p></td>
            <td>120</td>
            <td>Oleh <a href="#user" class="user">balapa</a><br><span>20 April 2014</span>
              </td>
          </tr>
            
          <tr>
            <td><a href="#" class="kategori">Tips menjadi seorang web developer</a><br>
            <p class="deks">Di sini deskripsi singkat...</p></td>
            <td>1009</td>
            <td>Oleh <a href="#user" class="user">squhart</a><br><span>20 April 2014</span></td>
          </tr>
            
          <tr>
            <td><a href="#" class="kategori">Tips menjadi seorang web developer</a><br>
            <p class="deks">Di sini deskripsi singkat...</p></td>
            <td>3</td>
            <td>Oleh <a href="#user" class="user">otnasrun</a><br><span>20 April 2014</span></td>
          </tr>
            
          <tr>
            <td><a href="#" class="kategori">Tips menjadi seorang web developer</a><br>
            <p class="deks">Di sini deskripsi singkat...</p></td>
            <td>1009</td>
            <td>Oleh <a href="#user" class="user">squhart</a><br><span>20 April 2014</span></td>
          </tr>
            
          <tr>
            <td><a href="#" class="kategori">Tips menjadi seorang web developer</a><br>
            <p class="deks">Di sini deskripsi singkat...</p></td>
            <td>3</td>
            <td>Oleh <a href="#user" class="user">otnasrun</a><br><span>20 April 2014</span></td>
          </tr>
            
          <tr>
            <td><a href="#" class="kategori">Tips menjadi seorang web developer</a><br>
            <p class="deks">Di sini deskripsi singkat...</p></td>
            <td>1009</td>
            <td>Oleh <a href="#user" class="user">squhart</a><br><span>20 April 2014</span></td>
          </tr>
            
          <tr>
            <td><a href="#" class="kategori">Tips menjadi seorang web developer</a><br>
            <p class="deks">Di sini deskripsi singkat...</p></td>
            <td>3</td>
            <td>Oleh <a href="#user" class="user">otnasrun</a><br><span>20 April 2014</span></td>
          </tr>
            
        </tbody>
      </table>
      </div>
        </div>        

    </div>    
    
<!-- Grid bagian kanan | Kontainer utama -->    
    
    <div class="right-container">
    
    <!-- Grid satuan -->    
        
    <div class="right-modul come-in login-modul">
    
        <p class="member">
        Ini adalah kolom yang kamu gunakan untuk 
login dan register user baru.<br><hr class="garis-masuk">


        <div class="container-mau">
            <a class="mau" href="login.html">Login</a><span> atau</span>
            <a class="mau" href="signup.html">Sign up</a>
        </div>
        
        </p><hr class="garis-masuk2"><p class="member">Bergabunglah dengan Pinguin, kamu bisa belajar, download, dan ikut serta di forum yang ada di Pinguin.</p>
        
    </div>
    
    <div class="right-modul topik-modul">
    
        <ul class=topik>
            <li><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;Web design</a></li>
            <li><a class="tag" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Web developement</a></li>
            <li><a class="tag" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Framework</a></li>
            <li><a class="tag" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Packet tracer</a></li>
            <li><a class="tag" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Linux</a></li>
            <li><a class="tag" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Back track</a></li>
        </ul>
        
    </div>
    
    </div>
    
    </div>

    <!-- Container grid ends! -->

<script src="js/jquery.js"></script>        
<script src="js/bootstrap.js"></script>
<!-- <script src="js/prefixfree.min.js"></script> -->
       
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
      
</body>
</html>