<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinguin - Sebuah website laboratorium CNC</title>

    <!-- CSS Bootstrap -->
      
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- buat favicon -->
    <!-- buat favicon -->
<link rel="shortcut icon" href="img/favicon-pinguin.ico" >
<link rel="icon" type="/image/ico"  href="img/favicon-pinguin.ico" >
    <!-- end -->
    <!-- end -->

  </head>
  <body>
      
    <!-- Hiasan warna-warna paling atas -->
      
      <div class="top-color">
      <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
      
    <!-- Navigasi atas -->  
        
      </div>
      <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      
    <!-- Brand and toggle get grouped for better mobile display -->
      
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Pinguin</a>
    </div>

    <!-- Membuat link-link berubah dari float-left menjadi vertikal teratur -->
      
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="forum.html">Forum</a></li>
        <li><a href="#">Belajar</a></li>
        <li><a href="#">Download</a></li>
        <li><a href="#">Kontak</a></li>
        <li><form class="search-container" action="#" method="POST"><input type="search" class="form-control search" placeholder="Cari..." >
            <input type="submit" class="btn btn-search" value="Cari">
            </form>
        </li>
          </ul>
    </div>  <!-- /.navbar-collapse -->
  </div>  <!-- /.container-fluid -->
</nav>

<!-- Grid menu -->

<!-- Container grid -->

<div class="row pinguin">
  
    <!-- Grid bagian kiri | Kontainer utama -->
    
    <div class="left-container">
    
        <div class="left-modul thread-modul">
          <h4 class="title">Selamat datang di Pinguin!</h4>
          <span class="date"><i class="glyphicon glyphicon-time"></i> &nbsp;28 Februari, 2014 &nbsp; &bull; &nbsp;</span>
          <span class="comment"><i class="glyphicon glyphicon-comment"></i> 13 &nbsp;&bull;</span>
            <span class="comment"> &nbsp;Posted by admin</span>
            <br><hr>
          <p class="wtsay">Pinguin yang ini sudah diupdate dengan teknologi terbaru dari segi desain dan programming. Terima kasih kepada para senior member khususnya web developement yang telah berusaha membuat ulang website pinguin.<br>
          Semoga nanti pinguin bisa lebih berguna sebagai forum, tempat download, tempat belajar, dan...</p>
          <a href="#" class="button-slide">
              <i class="glyphicon glyphicon-chevron-right detail"></i>
<div class="detail-wrap">Selengkapnya</div>
          </a>
        </div>

        <div class="left-modul info-modul">
          <h4 class="title">Rekruitasi senior member 2014</h4>
          <span class="date"><i class="glyphicon glyphicon-time"></i> &nbsp;15 Maret, 2014 &nbsp; &bull; &nbsp;</span>
          <span class="comment"><i class="glyphicon glyphicon-comment"></i> 13 &nbsp;&bull;</span>
            <span class="comment"> &nbsp;Posted by admin</span>
            <br><hr>
          <p class="wtsay">Tidak disangka sudah hampir setahun kita sudah bekerja di cnc. Karena sudah setahun sudah sepatutnya kita mencari anggota lab baru yang akan mengurus lab ini setelah kita pergi.<br>Semoga kita bisa mendapatkan calon-calon terbaik yang bisa memegang amanah...</p>
          <a href="#" class="button-slide">
              <i class="glyphicon glyphicon-chevron-right detail"></i>
<div class="detail-wrap">Selengkapnya</div>
          </a>
        </div>
        
        <div class="left-modul thread-modul">
          <h4 class="title">Selamat datang di Pinguin!</h4>
          <span class="date"><i class="glyphicon glyphicon-time"></i> &nbsp;28 Februari, 2014 &nbsp; &bull; &nbsp;</span>
          <span class="comment"><i class="glyphicon glyphicon-comment"></i> 13 &nbsp;&bull;</span>
            <span class="comment"> &nbsp;Posted by admin</span>
            <br><hr>
          <p class="wtsay">Pinguin yang ini sudah diupdate dengan teknologi terbaru dari segi desain dan programming. Terima kasih kepada para senior member khususnya web developement yang telah berusaha membuat ulang website pinguin.<br>
          Semoga nanti pinguin bisa lebih berguna sebagai forum, tempat download, tempat belajar, dan...</p>
          <a href="#" class="button-slide">
              <i class="glyphicon glyphicon-chevron-right detail"></i>
<div class="detail-wrap">Selengkapnya</div>
          </a>
        </div>
        

    </div>    
    
<!-- Grid bagian kanan | Kontainer utama -->    
    
    <div class="right-container">
    
    <!-- Grid satuan -->    
        
    <div class="right-modul come-in login-modul on">
    
        <div class="image-profile pull-left">
        <img class="user-photo" src="img/balapa.jpg">
        </div>
        <div class="profile-detail pull-left">
            <ul class="profile">
                <li>Bhakti Pasaribu</li>
                <li>balapa</li>
                <li>admin</li>
            </ul>
        </div>
        <div class="user-choice">
        <a href="#">Sunting profil</a>&nbsp; <span class="bull">&bull;</span>&nbsp;
        <a href="index.html">Keluar</a>
            </div>
        
    </div>
    
    <div class="right-modul topik-modul">
    
        <ul class=topik>
            <li><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;Web design</a></li>
            <li><a class="tag" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Web developement</a></li>
            <li><a class="tag" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Framework</a></li>
            <li><a class="tag" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Packet tracer</a></li>
            <li><a class="tag" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Linux</a></li>
            <li><a class="tag" href="#">&nbsp;&nbsp;&nbsp;&nbsp;Back track</a></li>
        </ul>
        
    </div>
    
    </div>
    
    </div>

    <!-- Container grid ends! -->

<script src="js/jquery.js"></script>        
<script src="js/bootstrap.js"></script>
<script src="js/prefixfree.min.js"></script>
       
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
      
</body>
</html>